@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000C18;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000C18;
    border-radius: 5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.animated-gradient {
    background: linear-gradient(270deg, #000000, #0D1117, #000C18);
    background-size: 600% 600%;

    -webkit-animation: css 4s ease infinite;
    -moz-animation: css 4s ease infinite;
    animation: css 4s ease infinite;
}

@-webkit-keyframes css {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes css {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes css {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
