@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: Roboto-Medium;
    src: url('Roboto-Medium.ttf');
}

@font-face {
    font-family: Pacifico;
    src: url(Pacifico-Regular.ttf);
}

.roboto {
    font-family: Roboto-Medium;
}

.pacifico {
    font-family: Pacifico;
}

.ads {
    background-image: url(assets/persuasive-ads-coca-cola-1.jpg);
}
